<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>666812137857-7dubgt80mtsiedp7ifgnt15cf7cnmc4v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.666812137857-7dubgt80mtsiedp7ifgnt15cf7cnmc4v</string>
	<key>API_KEY</key>
	<string>AIzaSyBJfCfusfVBqYzCfAotdAtSgVPhAidlsYA</string>
	<key>GCM_SENDER_ID</key>
	<string>666812137857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ucsc.staging.Slugline</string>
	<key>PROJECT_ID</key>
	<string>slugline-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>slugline-staging.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:666812137857:ios:9f39ae7e0858dc20f1e880</string>
</dict>
</plist>